* {
  margin: 0;
}

div {
  background-image: 
  /* linear-gradient(
      to right,
      rgba(255, 0, 0, 0.754),
      rgba(0, 0, 255, 0.815),
      rgba(0, 128, 0, 0.673)
    ), */ 
    /* radial-gradient(
      rgba(135, 207, 235, 0.408),
      rgba(0, 0, 255, 0.333)
    ), */ url("https://images.pexels.com/photos/547115/pexels-photo-547115.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-position: center;
  background-size: center;
  background-attachment: fixed;
  height: 100vh;
  /* filter: blur(px); */
  /* filter: brightness(40%); */
  /* filter: contrast(80%); */
  /* filter: grayscale(60%); */
  /* filter: saturate(60%); */
}
