.container {
  background-color: gray;
  width: 700px;
  height: 500px;
  position: relative;
}

.d {
  height: 100px;
  width: 100px;
}

.one {
  background-color: teal;
  position: relative;
  left: 200px;
}
.two {
  background-color: red;
  position: absolute;
  left: 110px;
  top: 110px;
}
.three {
  background-color: blue;
  position: sticky;
  /* position: fixed; */
  top: 110px;
  left: 110px;
}
